body{
    width: 100%;
    
    backdrop-filter: blur(10px);
    filter: blur(200%);
   background: linear-gradient( to right   , #039fbe , #1566DD, #7788BB );
}


/* Custom styles for the navigation */

.navbar {
    background-color: #fff;
    padding: 15px 0;
    box-shadow:  2px 4px 2px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    font-size: 18px;
}

.navbar-toggler-icon {
    background-color: #333;
}

/* Media query for small screens - hide the hamburger menu */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        margin-top: 20px;
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }
}


.container-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
}

.material-symbols-outlined{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -5px;
    
}

.btn{
    position: relative;
    top: 10px;
    text-align: center;
    
}

#card{
    transition: all;
    
}

#card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    
}

#card:hover{
    box-sizing: border-box;
    box-shadow: 1px 1px 6px 4px #fff;
    scale: 1.01;
    transition-duration: .3s;
}

@media screen and (max-width: 600px) {
    .container-sm{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
    }
    .border-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
    }
body{
    width: 100%;
}
    #card{
        margin-top: 2rem;
    }
    
}
@media screen and (max-width: 375px) {
    .container{
        background: #fff;
    padding: 2rem;
    margin: 2rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #000;
        
    }
}


@media screen and (max-width: 840px) {
    .container-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
    }
    .container{
        
        background: #fff;
        padding: 2rem;
        margin: 2rem;
        box-sizing: border-box;
        box-shadow: 2px 2px 2px #000;
    }
    #card{
        margin-top: 2rem;
    }
    
}
body{
    width: 100%;
}
footer{
    background: #fff;
    list-style: none;
    height: 35vh;
    width: 100%;
}


.container{
    background: #fff;
    padding: 2rem;
    margin: 2rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #000;
}


